Lambda School Data Science

*Unit 3, Sprint 2*

---

# Data Science Unit 3 Sprint Challenge 2

## Databases and SQL

A SQL Query walks into a bar. In one corner of the bar are two tables. The Query
walks up to the tables and asks:

...

*"Mind if I join you?"*

---

In this sprint challenge you will write code and answer questions related to
databases, with a focus on SQL but an acknowledgment of the broader ecosystem.
You may use any tools and references you wish, but your final code should
reflect *your* work and be saved in `.py` files (*not* notebooks), and (along
with this file including your written answers) added to your
`DS-Unit-3-Sprint-2-SQL-and-Databases` repo.

For all your code, you may only import/use the following:
- other modules you write
- `sqlite3` (from the standard library)

As always, make sure to manage your time - get a section/question to "good
enough" and then move on to make sure you do everything. You can always revisit
and polish at the end if time allows.

This file is Markdown, so it may be helpful to add/commit/push it first so you
can view it all nice and rendered on GitHub.

Good luck!

### Part 1 - Making and populating a Database

Consider the following data:

| s   | x | y |
|-----|---|---|
| 'g' | 3 | 9 |
| 'v' | 5 | 7 |
| 'f' | 8 | 7 |

Using the standard `sqlite3` module:

- Open a connection to a new (blank) database file `demo_data.sqlite3`
- Make a cursor, and execute an appropriate `CREATE TABLE` statement to accept
  the above data (name the table `demo`)
- Write and execute appropriate `INSERT INTO` statements to add the data (as
  shown above) to the database

Make sure to `commit()` so your data is saved! The file size should be non-zero.

Then write the following queries (also with `sqlite3`) to test:

- Count how many rows you have - it should be 3!
- How many rows are there where both `x` and `y` are at least 5?
- How many unique values of `y` are there (hint - `COUNT()` can accept a keyword
  `DISTINCT`)?

Your code (to reproduce all above steps) should be saved in `demo_data.py` and
added to the repository along with the generated SQLite database.

In [ ]:
#######################################################
#                                                     #
# This notebook is for ease of testing.               #
# All needed code is inside the associated .py files. #
#                                                     #
#######################################################

import sqlite3
import SQL


partone   = SQL.SQL('demo_data.sqlite3')

questions = ['Count how many rows you have.'
            ,'How many rows are there where both `x` and `y` are at least 5?'
            ,'How many unique values of `y` are there (hint - `COUNT()` can accept a keyword `DISTINCT`)?'
            ]
answers   = []

In [61]:
# When I need to start over
# partone.query('DROP TABLE demo')

[]

In [2]:
partone.query('''
CREATE TABLE demo
    (s CHAR(1)
    ,x INT(1)
    ,y INT(1)
    )
''')

[]

In [3]:
# Row 1
partone.query('''
INSERT INTO
    demo
VALUES
    ('g', 3, 9)
''')

# Row 2
partone.query('''
INSERT INTO
    demo
VALUES
    ('v', 5, 7)
''')

# Row 3
partone.query('''
INSERT INTO
    demo
VALUES
    ('f', 8, 7)
''')

[]

In [4]:
partone.query('SELECT * FROM demo')

[('g', 3, 9), ('v', 5, 7), ('f', 8, 7)]

In [5]:
# Count how many rows you have
answers.append(partone.query('''
SELECT
    COUNT(*)
FROM
    demo
''')[0][0])

# How many rows are there where both `x` and `y` are at least 5?
answers.append(partone.query('''
SELECT
    COUNT(*)
FROM
    demo
WHERE
    x >= 5 AND y >= 5
''')[0][0])

# How many unique values of `y` are there (hint - `COUNT()` can accept a keyword `DISTINCT`)?
answers.append(partone.query('''
SELECT
    COUNT(DISTINCT y)
FROM
    demo
''')[0][0])

In [6]:
num     = 0
running = True

while running:
    print(questions[num], '\n', answers[num], '\n')
    
    num += 1
    if num == len(questions):
        running = False

Count how many rows you have.
 3

How many rows are there where both `x` and `y` are at least 5?
 2

How many unique values of `y` are there (hint - `COUNT()` can accept a keyword `DISTINCT`)?
 2

### Part 2 - The Northwind Database

Using `sqlite3`, connect to the given `northwind_small.sqlite3` database.

![Northwind Entity-Relationship Diagram](./northwind_erd.png)

Above is an entity-relationship diagram - a picture summarizing the schema and
relationships in the database. Note that it was generated using Microsoft
Access, and some of the specific table/field names are different in the provided
data. You can see all the tables available to SQLite as follows:

```python
>>> curs.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY
name;").fetchall()
[('Category',), ('Customer',), ('CustomerCustomerDemo',),
('CustomerDemographic',), ('Employee',), ('EmployeeTerritory',), ('Order',),
('OrderDetail',), ('Product',), ('Region',), ('Shipper',), ('Supplier',),
('Territory',)]
```

*Warning*: unlike the diagram, the tables in SQLite are singular and not plural
(do not end in `s`). And you can see the schema (`CREATE TABLE` statement)
behind any given table with:
```python
>>> curs.execute('SELECT sql FROM sqlite_master WHERE name="Customer";').fetchall()
[('CREATE TABLE "Customer" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n
"CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n
"ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City"
VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode"
VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000)
NULL, \n  "Fax" VARCHAR(8000) NULL \n)',)]
```

In particular note that the *primary* key is `Id`, and not `CustomerId`. On
other tables (where it is a *foreign* key) it will be `CustomerId`. Also note -
the `Order` table conflicts with the `ORDER` keyword! We'll just avoid that
particular table, but it's a good lesson in the danger of keyword conflicts.

Answer the following questions (each is from a single table):

- What are the ten most expensive items (per unit price) in the database?
- What is the average age of an employee at the time of their hiring? (Hint: a
  lot of arithmetic works with dates.)
- (*Stretch*) How does the average age of employee at hire vary by city?

Your code (to load and query the data) should be saved in `northwind.py`, and
added to the repository. Do your best to answer in purely SQL, but if necessary
use Python/other logic to help.

In [45]:
import sqlite3
import SQL


parttwo   = SQL.SQL('northwind_small.sqlite3')

questions = ['What are the ten most expensive items (per unit price) in the database?'
            ,'What is the average age of an employee at the time of their hiring?'
            ]
answers   = []

In [46]:
# What are the ten most expensive items (per unit price) in the database?
answers.append(parttwo.query('''
SELECT
    UnitPrice, ProductName
FROM
    Product
INNER JOIN
    Supplier on Product.SupplierID
GROUP BY
    ProductName
ORDER BY
    UnitPrice DESC
LIMIT
    10
'''))

# What is the average age of an employee at the time of their hiring?
# (Hint: a lot of arithmetic works with dates.)
answers.append(parttwo.query('''
SELECT
    HireDate - BirthDate
FROM
    Employee
'''))

In [47]:
num     = 0
running = True

while running:
    print(questions[num], '\n', answers[num], '\n')
    
    num += 1
    if num == len(questions):
        running = False

What are the ten most expensive items (per unit price) in the database?
 [(263.5,), (123.79,), (97,), (81,), (62.5,), (55,), (53,), (49.3,), (46,), (45.6,)]

What is the average age of an employee at the time of their hiring?
 [(44,), (40,), (29,), (56,), (38,), (30,), (34,), (36,), (28,)]

### Part 3 - Sailing the Northwind Seas

You've answered some basic questions from the Northwind database, looking at
individual tables - now it's time to put things together, and `JOIN`!

Using `sqlite3` in `northwind.py`, answer the following:

- What are the ten most expensive items (per unit price) in the database *and*
  their suppliers?
- What is the largest category (by number of unique products in it)?
- (*Stretch*) Who's the employee with the most territories? Use `TerritoryId`
  (not name, region, or other fields) as the unique identifier for territories.

In [137]:
import sqlite3
import SQL


partthree = SQL.SQL('northwind_small.sqlite3')

questions = ['What are the ten most expensive items (per unit price) in the database *and* their suppliers?'
            ,'What is the largest category (by number of unique products in it)?'
            ]
answers   = []

In [138]:
# What are the ten most expensive items (per unit price) in the database *and* their suppliers?
answers.append(partthree.query('''
SELECT
    UnitPrice, ProductName, CompanyName
FROM
    Product
INNER JOIN
    Supplier on Product.SupplierID
GROUP BY
    ProductName
ORDER BY
    UnitPrice DESC
LIMIT
    10
'''))

# What is the largest category (by number of unique products in it)?
# Failed

# After all my work, all I can concluse after searching dozens of questions online is that SQL has no built in method of grabbing the fucking headers
# SQL also doens't understand that I can't to grab CategoryID, which is somehow both listed inside the table, yet also is ungrabbable
# What this is doing is multiplying all of the category data across all other information, whcih makes it impossible to get anything but exactly the same information everywhere.

answers.append(partthree.query('''
SELECT
    COUNT(DISTINCT CategoryName)ProductName
FROM
    Product
INNER JOIN
    Category on Product.CategoryID
GROUP BY
    ProductName
LIMIT
    10
'''))

In [106]:
partthree.query('''
SELECT
    COUNT(DISTINCT CategoryName)ProductName
FROM
    Product
INNER JOIN
    Category on Product.CategoryID
GROUP BY
    ProductName
LIMIT
    10
''')

[(8,), (8,), (8,), (8,), (8,), (8,), (8,), (8,), (8,), (8,)]

In [128]:
partthree.query('''
SELECT
    ProductName, CategoryID, CategoryName
FROM
    Product
LEFT JOIN
    Category on Product.CategoryID = Category.CategoryID
''')

OperationalError: no such column: Category.CategoryID

In [136]:
partthree.query('''
SELECT
    *
FROM
    information_schema.columns
WHERE
    table_name = 'Category'
''')

OperationalError: no such table: information_schema.columns

In [94]:
# What is the largest category (by number of unique products in it)?
partthree.query('''
SELECT
    ProductName, CategoryName
FROM
    Product
INNER JOIN
    Category on Product.CategoryID
GROUP BY
    CategoryName
ORDER BY
    ProductName DESC
LIMIT
    10
''')

[('Chai', 'Beverages'),
 ('Chai', 'Condiments'),
 ('Chai', 'Confections'),
 ('Chai', 'Dairy Products'),
 ('Chai', 'Grains/Cereals'),
 ('Chai', 'Meat/Poultry'),
 ('Chai', 'Produce'),
 ('Chai', 'Seafood')]

In [139]:
num     = 0
running = True

while running:
    print(questions[num], '\n', answers[num], '\n')
    
    num += 1
    if num == len(questions):
        running = False

What are the ten most expensive items (per unit price) in the database *and* their suppliers?
 [(263.5, 'Côte de Blaye', 'Exotic Liquids'), (123.79, 'Thüringer Rostbratwurst', 'Exotic Liquids'), (97, 'Mishi Kobe Niku', 'Exotic Liquids'), (81, "Sir Rodney's Marmalade", 'Exotic Liquids'), (62.5, 'Carnarvon Tigers', 'Exotic Liquids'), (55, 'Raclette Courdavault', 'Exotic Liquids'), (53, 'Manjimup Dried Apples', 'Exotic Liquids'), (49.3, 'Tarte au sucre', 'Exotic Liquids'), (46, 'Ipoh Coffee', 'Exotic Liquids'), (45.6, 'Rössle Sauerkraut', 'Exotic Liquids')]

What is the largest category (by number of unique products in it)?
 [(8,), (8,), (8,), (8,), (8,), (8,), (8,), (8,), (8,), (8,)]

### Part 4 - Questions (and your Answers)

Answer the following questions, baseline ~3-5 sentences each, as if they were
interview screening questions (a form you fill when applying for a job):

- In the Northwind database, what is the type of relationship between the
  `Employee` and `Territory` tables?
- What is a situation where a document store (like MongoDB) is appropriate, and
  what is a situation where it is not appropriate?
- What is "NewSQL", and what is it trying to achieve?

#### Response

Many to many.

MongoDB is supposedly useful in situations where you don't want structured data and instead just need a big blob of storage. It's a bit like throwing everything you own into a crate; Good luck finding it, or changing it when you need to. Personally I think it's just a fad at this point, there's a reason we work so hard to make structures in the first place and in general the only place a lack of structure is useful is in the beginning when you don't know exactly what you need yet.

It's another type of SQL that further complicates something that really shouldn't be complex in the first place.

### Part 5 - Turn it in!
Provide all the files you wrote (`demo_data.py`, `northwind.py`), as well as
this file with your answers to part 4, directly to your TL. You're also
encouraged to include the output from your queries as docstring comments, to
facilitate grading and feedback. Thanks for your hard work!

If you got this far, check out the [larger Northwind
database](https://github.com/jpwhite3/northwind-SQLite3/blob/master/Northwind_large.sqlite.zip) -
your queries should run on it as well, with richer results.