In [0]:
import sqlite3

In [0]:
conn = sqlite3.connect('toy_data.db')

In [0]:
conn

In [0]:
import os 
os.listdir()

['.config', 'toy_data.db', 'sample_data']

In [0]:
query = 'CREATE TABLE toy (name varchar(30), size int);'

In [0]:
curs = conn.cursor()
dir(curs)

In [0]:
curs.execute(query)

In [0]:
curs.close()
conn.commit()

In [0]:
curs2 = conn.cursor()

In [0]:
curs2.execute('SELECT * FROM toy;').fetchall()

[]

In [0]:
insert_query = 'INSERT INTO toy (name, size) VALUES ("awesome", 27);'

In [0]:
curs2.execute(insert_query)
curs2.close()
conn.commit()

In [0]:
curs3 = conn.cursor() 
curs3.execute('SELECT * from toy;').fetchall()

[('awesome', 27)]

In [0]:
insert_query_again = 'INSERT INTO toy (name, size) VALUES ("second row", 30);'

In [0]:
curs3.execute(insert_query_again)

In [0]:
curs3.execute('SELECT * from toy;').fetchall()

[('awesome', 27), ('second row', 30)]

In [0]:
curs3.close() 
conn.commit()